---
import Card from "./Card.astro";
import Code from "./Code.astro";
import { Button, Loading, Input, Container, Toggle, Checkbox } from "@oddify";
---

<section class="flex flex-wrap -m-4">
  <Card
    title="Button"
    desc="Displays a button or a component that looks like a button."
  >
    <Button href="#">Click Me</Button>
    <Code slot="code">
      <code class="text-xs">{`---`}</code>
      <code class="text-xs">{`import {Button} from "@oddify";`}</code>
      <code class="text-xs">{`---`}</code>
      <code class="text-xs mt-2">{`<Button>Click Me</Button>`}</code>
    </Code>
  </Card>
  <Card
    title="Toggle"
    desc="Toggle is a checkbox that is styled to look like a switch button."
  >
    <Toggle left="on" right="off" />
    <Code slot="code">
      <code class="text-xs">{`---`}</code>
      <code class="text-xs">{`import {Toggle} from "@oddify";`}</code>
      <code class="text-xs">{`---`}</code>
      <code class="text-xs mt-2">{`<Toggle left="on" right="off" />`}</code>
    </Code>
  </Card>
  <Card
    title="Loading"
    desc="Loading shows an animation to indicate that something is loading..."
  >
    <Loading />
    <Code slot="code">
      <code class="text-xs">{`---`}</code>
      <code class="text-xs">{`import {Loading} from "@oddify";`}</code>
      <code class="text-xs">{`---`}</code>
      <code class="text-xs mt-2">{`<Loading />`}</code>
    </Code>
  </Card>
  <Card
    title="Input"
    desc="Allows to get user inputs in forms, search fields, and more."
  >
    <Input placeholder="Placeholder" />
    <Code slot="code">
      <code class="text-xs">{`---`}</code>
      <code class="text-xs">{`import {Input} from "@oddify";`}</code>
      <code class="text-xs">{`---`}</code>
      <code class="text-xs mt-2">{`<Input placeholder="Placeholder" />`}</code>
    </Code>
  </Card>
  <Card
    title="Container"
    desc="Group and organize other UI elements, such as text, images, buttons, and other user interface components."
  >
    <Container>Hello Container</Container>
    <Code slot="code">
      <code class="text-xs">{`---`}</code>
      <code class="text-xs">{`import {Container} from "@oddify";`}</code>
      <code class="text-xs">{`---`}</code>
      <code class="text-xs mt-2"
        >{`<Container>Hello Container</Container>`}</code
      >
    </Code>
  </Card>
  <Card
    title="Checkbox"
    desc="Checkboxes are used to select or deselect a value."
  >
    <Checkbox label="Click me" />
    <Code slot="code">
      <code class="text-xs">{`---`}</code>
      <code class="text-xs">{`import {Checkbox} from "@oddify";`}</code>
      <code class="text-xs">{`---`}</code>
      <code class="text-xs mt-2">{`<Checkbox label="Click me" />`}</code>
    </Code>
  </Card>
</section>
